create database {{ grafana__db_name }};

CREATE USER '{{ grafana__db_user }}'@'%' IDENTIFIED BY '{{ grafana__db_password }}';
GRANT ALL ON {{ grafana__db_name }}.* TO '{{ grafana__db_user }}'@'%';

CREATE USER '{{ grafana__db_user }}'@'127.0.0.1' IDENTIFIED BY '{{ grafana__db_password }}';
GRANT ALL ON {{ grafana__db_name }}.* TO '{{ grafana__db_user }}'@'127.0.0.1';

FLUSH PRIVILEGES;
